<div class="fixed flex pin z-50" role="dialog">
  <div class="bg-teal-darkest fixed opacity-75 pin z-40"></div>
  <div class="bg-white flex flex-col m-auto max-h-full max-w-md sm:mt-16 opacity-100  overflow-auto pb-4 pt-4 px-4 relative rounded shadow z-50">
    <div class="border-b mb-4 pb-3">
      <h1 class="font-medium text-lg">Effectuer une remarque</h1>
      <button class="absolute p-4 pin-r pin-t" on:click="fire('close')" type="button">
        <i class="fas fa-times"></i>
      </button>
    </div>
    {#if error === null && web_url === null}
      <form on:submit="submit(event)">
        <div>
          <p class="text-lg">Veuillez décrire le problème que vous rencontrez sur cette page ou la suggestion que vous proposez…</p>
          <div class="bg-orange-lightest border border-orange-light my-4 p-4 rounded text-orange-dark" role="alert">
            <p class="font-medium mb-2 text-lg">
              <i class="fas fa-exclamation-triangle"></i> Attention !
            </p>
            <p class="leading-normal">
              Votre remarque sera anonyme, mais <b>publique</b>. Tout le monde pourra la lire.
            </p>
          </div>
          <div class="mb-5">
            <label class="block font-bold mb-2 text-sm" for="title">
              Titre
            </label>
            <input class="appearance-none border leading-tight focus:outline-none px-3 py-2 rounded shadow focus:shadow-outline w-full" id="title" placeholder="Titre de la remarque" required type="text" bind:value="title">
          </div>
          <div>
            <label class="block font-bold mb-2 text-sm" for="description">
              Description
            </label>
            <textarea class="appearance-none border leading-tight focus:outline-none px-3 py-2 rounded shadow focus:shadow-outline w-full" id="description" placeholder="Description de la remarque" required rows="10" bind:value="description"></textarea>
          </div>
        </div>
        <div class="flex justify-end mt-6">
          <button class="bg-teal hover:bg-teal-dark font-bold py-2 px-4 rounded text-white" type="submit">
            Envoyer
          </button>
        </div>
      </form>
    {:else}
      <div>
        {#if error === null}
          <div class="bg-green-lightest border border-green-light my-4 p-4 rounded text-green-dark" role="alert">
            <p class="leading-normal">
              Votre remarque a été transmise. Vous pouvez la suivre sur :<br>
              <a href={web_url} target="_blank">{web_url}</a><br>
            </p>
            <p class="leading-normal">
              <b>Merci</b> de nous aider ainsi à améliorer le site !
            </p>
          </div>
        {:else}
          <div class="bg-red-lightest border border-red-light my-4 p-4 rounded text-red-dark" role="alert">
            <p class="leading-normal">
              Une erreur est survenue lors de l'envoi de votre remarque. Veuillez réessayer plus tard.
            </p>
          </div>
          <pre class="whitespace-pre-wrap">{JSON.stringify(error, null, 2)}</pre>
        {/if}
      </div>
      <div class="flex justify-end mt-6">
        <button class="bg-teal hover:bg-teal-dark font-bold py-2 px-4 rounded text-white" on:click="fire('close')" type="button">Fermer</button>
      </div>
    {/if}
  </div>
</div>

<script>
  export default {
    data() {
      return {
        description: "",
        error: null,
        title: "",
        web_url: null,
      }
    },
    methods: {
      async submit(event) {
        event.preventDefault()

        const { description, title } = this.get()
        // eslint-disable-next-line no-undef
        const response = await fetch("new_issue", {
          body: JSON.stringify({
            // eslint-disable-next-line no-undef
            description: `${description}\n\n----\n\nCette remarque a été effectuée sur la page ${window.location.href}`,
            title,
          }, null, 2),
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json; charset=utf-8",
          },
          method: "POST",
        })
        const result =
          response.ok || response.status === 400
            ? await response.json()
            : { error: { code: response.status, message: response.statusText } }
        if (result.error) {
          console.log(result.error.code, result.error.message)
        }
        this.set({ ...result })
      },
    },
  }
</script>