@tailwind base;

@tailwind components;

@tailwind utilities;

/* $fa-font-path: "/@fortawesome/fontawesome-free/webfonts";
@import "../static/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../static/@fortawesome/fontawesome-free/scss/solid.scss"; */

del {
  background-color: #f9acaa;
}

ins {
  background-color: #a2f5bf;
}

.button-link {
  border-color: rgb(0, 0, 238);
  color: rgb(0, 0, 238);
  text-decoration: underline;
}
